---
# [ Service & Paths ]
caddy_service_name: "caddy"
caddy_base_dir: "{{ docker_base_dir }}/{{ caddy_service_name }}"
caddy_config_dir: "{{ caddy_base_dir }}/config"
caddy_data_dir: "{{ caddy_base_dir }}/data"

# [ Configuration ]
caddy_acme_email: "{{ admin_email }}"

# [ Build Versions ]
caddy_version: "{{ default_docker_image_tag | default('2.8.4') }}"
caddy_docker_proxy_version: "v2.9.1"

# [ Healthcheck Strategy ]
caddy_hc_interval: "{{ docker_hc_interval | default('30s') }}"
caddy_hc_timeout: "{{ docker_hc_timeout | default('5s') }}"
caddy_hc_retries: "{{ docker_hc_retries | default(3) }}"
caddy_hc_start_period: "{{ docker_hc_start_period | default('10s') }}"
