---
{# Собираем конфиг как структуру данных и дампим в YAML #}
{% set cfg = {
  'title': homer.ui.title,
  'subtitle': homer.ui.subtitle,
  'logo': homer.ui.logo,
  'header': (homer.ui.header | bool),
  'footer': homer.ui.footer,
  'theme': homer.ui.theme,
  'columns': homer.ui.columns,
  'connectivityCheck': (homer.ui.connectivity_check | bool),
  'defaults': {
    'layout': 'columns',
    'colorTheme': 'auto'
  },
  'colors': homer.ui.colors,
  'services': homer.services
} %}

{% if homer.links is defined %}
{%   set _ = cfg.update({'links': homer.links}) %}
{% endif %}

{{ cfg | ansible.builtin.to_nice_yaml(indent=2, width=9999) }}
