eturnal:
  secret: "{{ eturnal_secret }}"

  listen:
    - ip: "::"
      port: {{ eturnal_port }}
      transport: udp
    - ip: "::"
      port: {{ eturnal_port }}
      transport: tcp

  relay_min_port: {{ eturnal_relay_min_port }}
  relay_max_port: {{ eturnal_relay_max_port }}

  # Логи в stdout для Docker
  log_dir: stdout
  log_level: info

  # Безопасность (блокируем приватные сети)
  blacklist:
    - "127.0.0.0/8"
    - "::1"
    - "10.0.0.0/8"
    - "172.16.0.0/12"
    - "192.168.0.0/16"
    - "169.254.0.0/16"
