services:
  {{ vaultwarden.service }}:
    image: "{{ vaultwarden.image }}"
    container_name: "{{ vaultwarden.service }}"
    restart: "unless-stopped"

    deploy:
      resources:
        limits:
          memory: {{ vaultwarden.memory }}

    volumes:
      - ./data:/data

    networks:
      - {{ docker.network }}

    environment:
      - DOMAIN=https://{{ vaultwarden.domain }}
      - SIGNUPS_ALLOWED={{ vaultwarden.config.signups_allowed | lower }}
      - INVITATIONS_ALLOWED={{ vaultwarden.config.invitations_allowed | lower }}
      - SHOW_PASSWORD_HINT={{ vaultwarden.config.show_password_hint | lower }}
      - WEBSOCKET_ENABLED={{ vaultwarden.config.websocket_enabled | lower }}
      - LOG_LEVEL={{ vaultwarden.config.log_level }}
      - ADMIN_TOKEN={{ vaultwarden.admin_token }}
      - TZ={{ system.timezone | default('UTC') }}

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/alive"]
      interval: {{ vaultwarden.healthcheck.interval }}
      timeout: {{ vaultwarden.healthcheck.timeout }}
      retries: {{ vaultwarden.healthcheck.retries }}
      start_period: {{ vaultwarden.healthcheck.start_period }}

    labels:
      # === INGRESS: CADDY ===
      caddy: "{{ vaultwarden.domain }}"
      caddy.import: "secure-headers"
      # Прямой прокси, так как у Vaultwarden своя встроенная аутентификация
      caddy.reverse_proxy: "{{ vaultwarden.service }}:{{ vaultwarden.port }}"

      # === AUTOHEAL ===
{% if vaultwarden.autoheal | bool %}
      autoheal: "true"
{% endif %}

networks:
  {{ docker.network }}:
    external: true
