---
socket_proxy:
  service: "socket-proxy"
  image: "wollomatic/socket-proxy:1"
  path: "{{ docker.base_dir }}/socket-proxy"
  allow_from: "0.0.0.0/0"
  memory: "64M"

  patterns:
    # Упрощенная регулярка без сложных групп и экранирования точек
    get: ".*"
    post: ".*containers.*(start|stop|restart|wait)"
    head: ".*"

  config:
    watchdog_interval: "360"
    stop_on_watchdog: true
    shutdown_grace: "10"
    allow_healthcheck: true
