services:
  worker:
    image: "{{ restic_image }}:latest"
    container_name: "{{ restic_container_name }}"
    hostname: "{{ ansible_hostname }}"

    deploy:
      resources:
        limits:
          memory: {{ restic_memory_limit }}

    environment:
      - RESTIC_REPOSITORY={{ restic_repo }}
      - RESTIC_PASSWORD={{ restic_password }}
      - RCLONE_CONFIG=/root/.config/rclone/rclone.conf
      - RCLONE_DRIVE_CHUNK_SIZE=128M
      - RCLONE_TIMEOUT=10m

    volumes:
      - ./entrypoint.sh:/entrypoint.sh:ro
      - "{{ restic_config_dir }}:/root/.config/rclone:rw"
{% for mount in restic_mounts %}
      - {{ mount.src }}:{{ mount.dst }}:ro
{% endfor %}

    entrypoint: ["/bin/sh", "/entrypoint.sh"]
    # Restart is managed by Systemd, not Docker
    restart: "no"
