services:
  {{ caddy.service }}:
    build:
      context: .
      dockerfile: Dockerfile

    container_name: "{{ caddy.service }}"
    restart: "unless-stopped"

    deploy:
      resources:
        limits:
          memory: {{ caddy.memory }}

    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"

    environment:
      # Network & Integration
      CADDY_INGRESS_NETWORKS: "{{ docker.network }}"
      CADDY_DOCKER_CADDYFILE_PATH: "/config/Caddyfile"
      CADDY_DOCKER_SCAN_STOPPED_CONTAINERS: "true" # Important for Sablier
      
      # ACME
      ACME_EMAIL: "{{ caddy.email }}"
{% if caddy.cloudflare.enabled | bool %}
      CLOUDFLARE_API_TOKEN: "{{ caddy.cloudflare.token }}"
{% endif %}
      
      # Timezone
      TZ: "{{ system.timezone | default('UTC') }}"

{% if caddy.socket_proxy | bool %}
      DOCKER_HOST: "tcp://socket-proxy:2375"
{% endif %}

    volumes:
{% if not caddy.socket_proxy | bool %}
      - /var/run/docker.sock:/var/run/docker.sock:ro
{% endif %}
      - "{{ caddy.path }}/data:/data"
      - "{{ caddy.path }}/config:/config"
{% if caddy.logs.enabled | bool %}
      - "{{ caddy.logs.path }}:/var/log/caddy"
{% endif %}

    networks:
      - {{ docker.network }}
{% if caddy.socket_proxy | bool %}
      - socket_proxy
{% endif %}

    labels:
      caddy_0: "(secure-headers)"
      caddy_0.header.Strict-Transport-Security: "\"max-age=31536000; includeSubDomains\""
      caddy_0.header.X-Content-Type-Options: "nosniff"
      caddy_0.header.X-Frame-Options: "DENY"
      caddy_0.header.Referrer-Policy: "strict-origin-when-cross-origin"

    healthcheck:
      test: ["CMD", "wget", "-q", "--spider", "http://127.0.0.1:2019/metrics"]
      interval: {{ caddy.healthcheck.interval }}
      timeout: {{ caddy.healthcheck.timeout }}
      retries: {{ caddy.healthcheck.retries }}
      start_period: {{ caddy.healthcheck.start_period }}

networks:
  {{ docker.network }}:
    external: true
{% if caddy.socket_proxy | bool %}
  socket_proxy:
    external: true
{% endif %}
