{# roles/utils/templates/traefik_macros.j2 #}

{%- macro web(service, host, port, middlewares='', entrypoint='websecure', resolver='letsencrypt') -%}
traefik.enable: "true"
traefik.docker.network: "{{ docker_network_name }}"

# HTTP Router (Redirect to HTTPS)
traefik.http.routers.{{ service }}-http.rule: "Host(`{{ host }}`)"
traefik.http.routers.{{ service }}-http.entrypoints: "web"
traefik.http.routers.{{ service }}-http.middlewares: "redirect-to-https"
traefik.http.routers.{{ service }}-http.service: "noop@internal"

# HTTPS Router
traefik.http.routers.{{ service }}.rule: "Host(`{{ host }}`)"
traefik.http.routers.{{ service }}.entrypoints: "{{ entrypoint }}"
traefik.http.routers.{{ service }}.tls: "true"
traefik.http.routers.{{ service }}.tls.certresolver: "{{ resolver }}"
traefik.http.routers.{{ service }}.service: "{{ service }}"

{% if middlewares %}
traefik.http.routers.{{ service }}.middlewares: "{{ middlewares }}"
{% endif %}

# Service Definition
traefik.http.services.{{ service }}.loadbalancer.server.port: "{{ port }}"
{%- endmacro -%}
