{
  "m.homeserver": {
    "base_url": "https://{{ tuwunel_domain }}"
  },
  "org.matrix.msc4143.rtc_foci": [
    {
      "type": "livekit",
      "livekit_service_url": "https://{{ tuwunel_livekit_domain }}",
      "jwt_service_url": "https://{{ tuwunel_livekit_domain }}/sfu/get"
    }
  ]
}
