services:
  {{ autoheal.service }}:
    image: "{{ autoheal.image }}"
    container_name: "{{ autoheal.service }}"
    restart: "unless-stopped"

    deploy:
      resources:
        limits:
          memory: {{ autoheal.memory }}

    environment:
      AUTOHEAL_CONTAINER_LABEL: "{{ autoheal.config.label }}"
      AUTOHEAL_INTERVAL: "{{ autoheal.config.interval }}"
      AUTOHEAL_START_PERIOD: "{{ autoheal.config.start_period }}"
      AUTOHEAL_DEFAULT_STOP_TIMEOUT: "{{ autoheal.config.stop_timeout }}"
      AUTOHEAL_ONLY_MONITOR_RUNNING: "{{ autoheal.config.only_monitor_running }}"
      TZ: "{{ system.timezone | default('UTC') }}" # Берем из глобальной system
{% if autoheal.socket_proxy | bool %}
      DOCKER_SOCK: "tcp://socket-proxy:2375"
{% endif %}

    volumes:
{% if not autoheal.socket_proxy | bool %}
      # Direct Socket Mount
      - /var/run/docker.sock:/var/run/docker.sock
{% endif %}
      - /etc/localtime:/etc/localtime:ro

    networks:
      # Ему не обязательно быть в сети web, если он не общается с другими контейнерами по сети,
      # но для порядка можно оставить. 
      # Главное - доступ к API.
      - {{ docker.network }}
{% if autoheal.socket_proxy | bool %}
      - socket_proxy
{% endif %}

    healthcheck:
      test: ["CMD-SHELL", "pgrep -f autoheal || exit 1"]
      interval: {{ autoheal.healthcheck.interval }}
      timeout: {{ autoheal.healthcheck.timeout }}
      retries: {{ autoheal.healthcheck.retries }}
      start_period: {{ autoheal.healthcheck.start_period }}

networks:
  {{ docker.network }}:
    external: true
{% if autoheal.socket_proxy | bool %}
  socket_proxy:
    external: true
{% endif %}
