services:
  # 1. Beszel Hub
  hub:
    image: "{{ beszel_hub_image }}:{{ beszel_hub_tag }}"
    container_name: "{{ beszel_hub_container }}"
    restart: "{{ beszel_restart_policy }}"

    deploy:
      resources:
        limits:
          memory: {{ beszel_hub_memory }}

    ports:
      - "127.0.0.1:8090:8090"

    environment:
      TZ: "{{ beszel_timezone }}"
      APP_URL: "https://{{ beszel_domain }}"
      USER_EMAIL: "{{ beszel_admin_email }}"
      USER_PASSWORD: "{{ beszel_admin_password }}"
      USER_CREATION: "true"

    volumes:
      - "{{ beszel_hub_data }}:/beszel_data"

    networks:
      - {{ beszel_network }}

    extra_hosts:
      - "host.docker.internal:host-gateway"

    healthcheck:
      test: ["CMD", "/beszel", "health"]
      interval: {{ beszel_hc_interval }}
      timeout: {{ beszel_hc_timeout }}
      retries: {{ beszel_hc_retries }}

    labels:
{% if beszel_ingress_provider == 'caddy' %}
      caddy: "{{ beszel_domain }}"
      caddy.import: "secure-headers"
      caddy.reverse_proxy: "{{ beszel_hub_container }}:8090"
{% endif %}

{% if beszel_enable_autoheal | bool %}
      autoheal: "true"
{% endif %}


  # 2. Beszel Agent
  agent:
    image: "{{ beszel_agent_image }}:{{ beszel_agent_tag }}"
    container_name: "{{ beszel_agent_container }}"
    restart: "{{ beszel_restart_policy }}"
    network_mode: host

    healthcheck:
      test: ["CMD", "/agent", "-v"]
      interval: {{ beszel_hc_interval }}
      timeout: {{ beszel_hc_timeout }}
      retries: {{ beszel_hc_retries }}

    deploy:
      resources:
        limits:
          memory: {{ beszel_agent_memory }}

    environment:
      KEY: "{{ beszel_dynamic_key | default(beszel_agent_key) }}"
      HUB_URL: "http://127.0.0.1:8090"
      TOKEN: "{{ beszel_dynamic_token | default('') }}"
      FILESYSTEM: "/extra-filesystems/root"

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /:/extra-filesystems/root:ro

    labels:
{% if beszel_enable_autoheal | bool %}
      autoheal: "true"
{% endif %}

networks:
  {{ beszel_network }}:
    external: true
