services:
  {{ traefik_service_name }}:
    container_name: {{ traefik_service_name }}
    image: {{ traefik_image }}
    
    # Мы перенесли конфиг в файл, поэтому тут оставляем только разрешение на плагины
    command:
      - "--experimental.plugins.geoblock.settings.useunsafe=true"
      # Нужно указать путь к конфигу, так как по умолчанию traefik ищет traefik.yml, но мы маунтим явно
      - "--configFile=/etc/traefik/traefik.yml"

    ports:
      - "{{ traefik_http_port }}:{{ traefik_http_port }}"
      - "{{ traefik_https_port }}:{{ traefik_https_port }}"

    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "{{ traefik_data_dir }}/acme.json:{{ traefik_acme_storage }}"
      # Новые маунты:
      - "{{ traefik_data_dir }}/traefik.yml:/etc/traefik/traefik.yml:ro"
      - "{{ traefik_data_dir }}/dynamic_conf.yml:/etc/traefik/dynamic_conf.yml:ro"
      - "traefik_geodb:/data/ip2database"

    restart: unless-stopped

    labels:
      traefik.enable: "true"
      
      # Сервис API
      traefik.http.services.{{ traefik_service_name }}.loadbalancer.server.port: "8080"

      # Дашборд
      traefik.http.routers.dashboard.rule: "Host(`{{ traefik_dashboard_domain }}`)"
      traefik.http.routers.dashboard.service: "api@internal"
      traefik.http.routers.dashboard.entrypoints: "websecure"
      traefik.http.routers.dashboard.tls: "true"
      traefik.http.routers.dashboard.tls.certresolver: "letsencrypt"

      # 🔥 ЦЕПОЧКА ЗАЩИТЫ ДАШБОРДА: Сначала ГЕОБЛОК, потом АВТОРИЗАЦИЯ 🔥
      # geoblock-strict@file - только RU/NL
      # tinyauth@docker - проверка пароля
      traefik.http.routers.dashboard.middlewares: "geoblock-strict@file,tinyauth@docker"

      traefik.docker.network: "{{ traefik_docker_network }}"

    networks:
      - {{ traefik_docker_network }}

volumes:
  traefik_geodb:

networks:
  {{ traefik_docker_network }}:
    external: true
