http:
  middlewares:
    geoblock-strict:
      plugin:
        geoblock:
          enabled: true
          defaultAllow: false # Запретить всех, кого нет в списке
          
          databaseFilePath: "" 
          databaseAutoUpdate: true
          databaseAutoUpdateDir: "/data/ip2database"
          allowPrivate: true

          allowedCountries:
            - "RU"
            - "NL"

          blockedCountries:
            - "CN"

          ipHeaders: ["x-forwarded-for", "remoteAddress"]
          ipHeaderStrategy: "CheckFirstNonePrivate"
          disallowedStatusCode: 403

    geoblock-blog:
      plugin:
        geoblock:
          enabled: true
          defaultAllow: true # Разрешить всех по умолчанию
          
          databaseFilePath: "" 
          databaseAutoUpdate: true
          databaseAutoUpdateDir: "/data/ip2database"
          allowPrivate: true

          blockedCountries:
            - "CN" # Китай
            - "IN" # Индия
            - "VN" # Вьетнам
            - "BR" # Бразилия

          ipHeaders: ["x-forwarded-for", "remoteAddress"]
          ipHeaderStrategy: "CheckFirstNonePrivate"
          disallowedStatusCode: 403
