---
autoheal:
  service: "autoheal"

  # Image + Tag
  image: "willfarrell/autoheal:latest"

  path: "{{ docker.base_dir }}/autoheal"

  # App Configuration
  config:
    interval: 60
    start_period: 60
    stop_timeout: 10
    # "all" - следить за всеми, у кого есть healthcheck.
    # Если нужно выборочно - меняем на "autoheal=true"
    label: "all"
    # Важно для Sablier: не будить спящие контейнеры
    only_monitor_running: "true"

  # Resources (Autoheal очень легкий, ему хватит минимума)
  memory: "64M"

  # Integrations
  # Используем глобальный флаг enable.socket_proxy?
  # Или локальный оверрайд? Лучше локальный флаг, который по дефолту смотрит на глобальный.
  socket_proxy: "{{ enable.socket_proxy | default(false) }}"

  # Healthcheck (Процесс простой, глобальные дефолты ок, но можно и явно)
  healthcheck:
    interval: "30s"
    timeout: "5s"
    retries: 3
    start_period: "5s"
