services:
  {{ sablier.service }}:
    image: "{{ sablier.image }}"
    container_name: "{{ sablier.service }}"
    restart: "unless-stopped"

    deploy:
      resources:
        limits:
          memory: {{ sablier.memory }}

    environment:
      LOGGING_LEVEL: "{{ sablier.log_level }}"
      # Docker Provider Configuration
{% if sablier.socket_proxy | bool %}
      DOCKER_HOST: "tcp://socket-proxy:2375"
{% endif %}

    command:
      - start
      - --provider.name=docker

{% if not sablier.socket_proxy | bool %}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
{% endif %}

    networks:
      - {{ docker.network }} # For Caddy/Traefik middleware
{% if sablier.socket_proxy | bool %}
      - socket_proxy         # For Docker API Access
{% endif %}

    healthcheck:
      test: ["CMD", "sablier", "health"]
      interval: 30s
      timeout: 5s
      retries: 3

networks:
  {{ docker.network }}:
    external: true
{% if sablier.socket_proxy | bool %}
  socket_proxy:
    external: true
{% endif %}
